@charset "UTF-8";
/* CSS Document */

body {
	background: url(../main_images/main_page_background.png) center no-repeat;
	height: 100%;
	width: 100%;
	font-family: Tahoma, Geneva, sans-serif;
}

#wrapper {
	height: 750px;
	width: 1000px;
	margin: auto;
	padding: 10px;
}

#heading {
    color: #FFF;
	width: 1000px;
	height: 50px;
	margin: auto;
	text-align: right;
}

h1 {
	font-size: 28px;
	text-shadow: 4px 4px 4px #222;
}

#cloud1 {
	width: 415px;
	height: 215px;
	float: left;
}

#cloud2 {
	width: 415px;
	height: 215px;
	float: left;	
}




	